<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Besley:wght@900&family=IBM+Plex+Sans+Thai:wght@100&display=swap">
    <title>App Test</title>
</head>

<style>
    body {
        font-family: 'IBM Plex Sans Thai', serif;
        font-size: 14px;
    }

</style>

<body>
    <div class="top-heading">
        <h2>
            <b>Clustering</b>
        </h2>
    </div>

    <p>
        Author: Roni<br>
    </p>

    </div>
</body>

</html>
